<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="image-container">
    <header>
       <a href="/home"><i id = "icon" class="fa fa-spotify spoti" aria-hidden="true"> Spotify</i></a>
       <nav>
         <ul class="nav-links">
           <li> <a href="/Premium">Premiun</a> </li>
           <li> <a href="#">Help</a> </li>
           <li> <a href="/checkout">Download</a> </li>&nbsp
           |<li><a class="cta" href="/signup">  &nbsp &nbspSign Up</a></li>
           <li><a class="cta" href="/signin">Log In</a></li>
         </ul>
       </nav>
    </header>
    <div class="heading">
  <h1 class="h1" >Play millions of songs and podcasts, for free.</h1>
  <button class="btn btn-success" type="button" name="button">START FREE TRIAL</button>
</div>
<p class="small tc"> <a href="#">* Terms and conditions </a>  apply. Open only to users who haven't already tried Premium.</p>
</div>
<main>
<div class="headerOfMain">
  <h1>Looking for music?</h1>
  <p>Pick up your recently played right where you left off</p>
  <button type="button" class="btn btn-outline-secondary" name="button">LAUNCH WEB PLAYER</button>
</div>
<div class=" music-collection">
  <div class="image col-lg-3 col-md-4 ">
  <img src="./image/album.jpg" alt="">
  </div>
  <div class="image col-lg-3 col-md-4">
    <img src="./image/bass.jpg" alt="">
  </div>
  <div class="image col-lg-3 col-md-4">
    <img src="./image/edm.jpg" alt="">
  </div>
  <div class="image col-lg-3 col-md-4">
    <img src="./image/acoustic.jpg" alt="">
  </div>
  <div class="image col-lg-3 col-md-4">
    <img src="./image/kabir.jpg" alt="">
  </div>
  <div class="image col-lg-3 col-md-4">
    <img src="./image/sundowner.png" alt="">
  </div>
</div>
</main>
<footer>
<div class="ulContainer">
   <a href="#"><i id = "icon" class="fa fa-spotify spoti" aria-hidden="true"> Spotify</i></a>
  <div class="ulOne">
    <ul>
      <li class="gray-shade">Company</li>
      <li> <a href="#">About</a> </li>
      <li> <a href="#"> Jobs</a></li>
      <li> <a href="#"> For the Record</a></li>
    </ul>
  </div>
  <div class="ulTwo">
    <ul>
      <li class="gray-shade">COMMUNITIES</li>
      <li> <a href="#"> For Artists</a></li>
      <li> <a href="#"> Developers</a></li>
      <li> <a href="#"> Brands</a></li>
      <li> <a href="#"> Investors</a></li>
      <li> <a href="#"> Vendors</a></li>
    </ul>
  </div>
  <div class="ulThree">
    <ul>
      <li class="gray-shade">USEFUL LINKS</li>
      <li> <a href="#">image</a> </li>
      <li> <a href="#">Help</a> </li>
      <li> <a href="#">Web Player</a> </li>
      <li> <a href="#"> Free Mobile App</a></li>
    </ul>
  </div>
  <div class="iconContainer">
    <ul>
      <li> <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
      <li> <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> </li>
    </ul>
  </div>
</div>
<div class="document">
  <ul>
    <li> <a href="#"> Legal</a></li>
    <li> <a href="#"> Privacy Center</a></li>
    <li> <a href="#"> Privacy Policy</a></li>
    <li> <a href="#"> Cookies</a></li>
    <li> <a href="#"> About Ads</a></li>
  </ul>
</div>
<div class="logo">
  <ul>
    <li class="india-logo"> <a href="#"> India &nbsp <img src="./image/india.png" alt=""></a></li>
    <li>@ 2020 Spotify AB</li>
  </ul>
</div>
</footer>
  </body>
</html>
