<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="image-container-premium">
  <header>
     <a href="/home"><i id = "icon" class="fa fa-spotify spoti" aria-hidden="true"> Spotify</i></a>
     <nav>
       <ul class="nav-links">
         <li> <a href="/Premium">Premiun</a> </li>
         <li> <a href="#">Help</a> </li>
         <li> <a href="#">Download</a> </li>&nbsp
         |<li><a class="cta" href="/signup">  &nbsp &nbspSign Up</a></li>
         <li><a class="cta" href="/signin">Log In</a></li>
       </ul>
     </nav>
  </header>
  <div class="heading">
<h1>Get Premium free for 1 month</h1>
<h4>Just <i class="fa fa-inr" aria-hidden="true"></i>199/month after. Cancel anytime.</h4>
<button class="btn btn-success" type="button" name="button">START FREE TRIAL</button>
<p class="small tc"> <a href="#">Terms and conditions </a>  apply. Open only to users who haven't already tried Premium.</p>
</div>
</div>
  <div class="get-premium">
    <h1>Get Premium Family</h1>
    <h4>Family members living under one roof can enjoy up to 6 Premium accounts.</h4>
    <h4 class="month">Try 1 month free, only ₹179/month after.</h4>
    <button class="btn btn-dark" type="button" name="button">GET PREMIUM FAMILY</button>
  </div>

  <article class="premium-benefit-container">
    <h1>The power of Premium</h1>
    <article class="premium-benefit">
      <div class="No-interruptions-image">
        <img src="https://campaigns.scdn.co/images/Benefit_2.png" alt="">
      </div>
        <h1>No interruptions</h1>
        <p>Play the music you love, ad-free.</p>
      </article>
    <article class="premium-benefit">
      <div class="offline-playback-image">
        <img src="https://campaigns.scdn.co/images/benefit_1.png" alt="">
      </div>
      <h1>Offline playback</h1>
      <p>Save your data by listening offline</p>
      </article>
    <article class="premium-benefit">
      <div class="play-spotify-image">
        <img src="https://campaigns.scdn.co/images/benefit_3.png" alt="">
      </div>
      <h1>Play Spotify everywhere</h1>
      <p>Listen on your speakers, TV, and other favorite devices.</p>
    </article>
  <article class="premium-benefit">
    <div class="pay-your-way-image">
      <img src="https://campaigns.scdn.co/images/benefit_4.png" alt="">
    </div>
    <h1>Pay your way</h1>
    <p>Subscribe or prepay with Paytm, UPI, and more.</p>
  </article>
  <div class="">
    <button class="premium-join-btn btn btn-success" type="button" name="button">JOIN PREMIUM</button>
  </div>
</article>



<div class="premium-card-container">
<div class="card-group">
  <div class="card" style="width: 15%;">
    <p class="premium-card-para" >1 month free on auto-renew</p>
  <h3>Individual</h3>
  <p>₹119/month after offer period 1 account</p>
  <hr>
  <div class="premium-ul-list">
    <ul>
      <li>Listen to music ad-free</li>
      <li>Play anywhere - even offline</li>
    </ul>
  </div>

  <button onclick="location.href = '/checkout';" class="btn btn-success" type="button" name="button">AUTO-RENEW PLANS</button>
  <button onclick="location.href = '/checkout';" class="btn btn-light" type="button" name="button">PREPAID PLANS FROM ₹13</button>
  <p> <a href="#">Terms and conditions apply.</a> 1 month free not available for users who have already tried Premium.</p>
</div>


  <div class="card" style="width: 20%;">
    <p class="premium-card-para" >1 month free on auto-renew</p>
  <h3>Individual</h3>
  <p>₹119/month after offer period 1 account</p>
  <hr>
  <div class="premium-ul-list">
    <ul>
      <li>Listen to music ad-free</li>
      <li>Play anywhere - even offline</li>
    </ul>
  </div>

  <button onclick="location.href = '/checkout';" class="btn btn-success" type="button" name="button">AUTO-RENEW PLANS</button>
  <button onclick="location.href = '/checkout';" class="btn btn-light" type="button" name="button">PREPAID PLANS FROM ₹13</button>
  <p> <a href="#">Terms and conditions apply.</a> 1 month free not available for users who have already tried Premium.</p>
</div>


  <div class="card" style="width: 20%;">
    <p class="premium-card-para" >1 month free on auto-renew</p>
  <h3>Individual</h3>
  <p>₹119/month after offer period 1 account</p>
  <hr>
  <div class="premium-ul-list">
    <ul>
      <li>Listen to music ad-free</li>
      <li>Play anywhere - even offline</li>
    </ul>
  </div>

  <button onclick="location.href = '/checkout';" class="btn btn-success" type="button" name="button">AUTO-RENEW PLANS</button>
  <button onclick="location.href = '/checkout';" class="btn btn-light" type="button" name="button">PREPAID PLANS FROM ₹13</button>
  <p> <a href="#">Terms and conditions apply.</a> 1 month free not available for users who have already tried Premium.</p>
</div>


  <div class="card" style="width: 20%;">
    <p class="premium-card-para" >1 month free on auto-renew</p>
  <h3>Individual</h3>
  <p>₹119/month after offer period 1 account</p>
  <hr>
  <div class="premium-ul-list">
    <ul>
      <li>Listen to music ad-free</li>
      <li>Play anywhere - even offline</li>
    </ul>
  </div>

  <button onclick="location.href = '/checkout';" class="btn btn-success" type="button" name="button">AUTO-RENEW PLANS</button>
  <button onclick="location.href = '/checkout';" class="btn btn-light" type="button" name="button">PREPAID PLANS FROM ₹13</button>
  <p> <a href="#">Terms and conditions apply.</a> 1 month free not available for users who have already tried Premium.</p>
</div>

</div>
</div>
<footer>
  <div class="premium-footer">
    <ul>
      <li>Legal</li>
      <li>Cookies</li>
      <li>About Ads</li>
    </ul>
  </div>
  <div class="logo">
    <ul>
      <li class="india-logo"> <a href="#"> India &nbsp <img src="./image/india.png" alt=""></a></li>
      <li>@ 2020 Spotify AB</li>
    </ul>
  </div>
</footer>

  </body>
</html>
