<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="payment-header-div">
      <h1>Get Duo</h1>
      <ul>
        <li>High qualiti audio</li>
        <li>Listen without distraction of ads</li>
        <li>Play music with no phone service</li>
      </ul>
    </div>
    <form id="payment-form">
     <div id="card-element"><!--Stripe.js injects the Card Element--></div>
     <button id="submit">
       <div class="spinner hidden" id="spinner"></div>
       <span id="button-text">Pay</span>
     </button>
     <p id="card-error" role="alert"></p>
     <p class="result-message hidden">
       Payment succeeded, see the result in your
       <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
     </p>
   </form>
  </body>
</html>
